/* CSS Document */
/* Index Styling for Homefront */

body {background:url(../images/template/graphic4.jpg) repeat}

body > * {width:820px; margin-left:auto; margin-right:auto}


.green-banner-wrapper {
  margin-bottom: -20px;
  padding-top: 10px;
}

.green-banner {
  background-color: #bbdfbb;
  border: 2px solid #466f46;
  border-radius: 3px;
  padding: 15px 20px;
}

.green-banner p {
  font-size: 16px;
  margin: 0;
}

.green-banner p a,
.green-banner p a:visited {
  color: #0000EE;
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.green-banner p a:hover {
  background: none;
  color: #010194;
  margin: 0;
  padding: 0;
}


.foot {
	margin-top:-4px;
	background-color: #184191;
}

.foot.star-border {
	background-image: url(../images/template/index/top.jpg);
	background-repeat: repeat-x;
}

.content {width:820px; }
.text {padding:30px}
.text p {margin-bottom:20px}

.links {background:#e32726; margin-top:30px; padding:25px 0 2px 0}
.links a {font-family:Arial, Helvetica, sans-serif; font-size:1em; font-weight:bold; background:url(../images/template/index/button.jpg) ; margin-right:4px; padding:13px 0 9px 7px}
.links span {}

.links a {color:#000099; text-decoration:none}
.links a:hover {color:#FFFFFF; background:url(../images/template/index/hoverbutton.jpg); background-position-x:right;}

.buttons {margin-left:7px}
.all .foot p {
	font-size: 1.2em;
	color: #FFFFFF;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}
em {
	font-style: italic;
}
strong {
	font-weight: 800;
}
.all .foot a {
	color: #C4CCFD;
}
.all .foot a:hover {
  color: white;
}

